//------------------------------------
// #typography
//------------------------------------


//------------------------------------
// #variables
//------------------------------------

// Colors
$blue: #1565c0;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;