%section.hero
  .container
    .row.my-5
      .col.my-5 
        %h1 Company Name
        %p= lorem.sentences 3

%section.proof
  .container
    .row.my-5
      .col.my-5
        %h2 Proof Statement
        %p= lorem.sentences 3

%section.challenge
  .container
    .row.my-5
      .col.my-5
        %h2 Challenge Statement
        %p= lorem.sentences 3

%section.solution
  .container
    .row.my-5
      .col.my-5
        %h2 Solution
        %p= lorem.sentences 3